kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: "{{ _odoo_name }}-odoo-pvc"
  namespace: "{{ _odoo_namespace }}"
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: "{{ _odoo_storage_class }}"
  resources:
    requests:
      storage: "{{ _odoo_volume_size }}"
