apiVersion: v1
kind: Service
metadata:
  name: "{{ _odoo_name }}-odoo"
  namespace: "{{ _odoo_namespace }}"
  labels:
    app: "{{ _odoo_name }}-odoo"
spec:
  type: ClusterIP
  sessionAffinity: None
  ports:
  - name: http
    protocol: TCP
    port: 8069
    targetPort: tcp-odoo-http
  - name: im
    protocol: TCP
    port: 8072
    targetPort: tcp-odoo-im
  selector:
    app: "{{ _odoo_name }}-odoo"
