apiVersion: v1
kind: Service
metadata:
  name: "{{ _odoo_name }}-postgresql"
  namespace: "{{ _odoo_namespace }}"
spec:
  ports:
  - name: "{{ _odoo_name }}-postgresql"
    port: {{ _odoo_postgresql_port }}
    protocol: TCP
    targetPort: {{ _odoo_postgresql_port }}
  selector:
    name: "{{ _odoo_name }}-postgresql"
  sessionAffinity: None
  type: ClusterIP
