apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ _odoo_name }}-postgresql-pvc"
  namespace: "{{ _odoo_namespace }}"
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: "{{ _postgresql_volume_size }}"
