apiVersion: v1
kind: Secret
metadata:
  name: "{{ _odoo_name }}"
  labels:
    app: "{{ _odoo_name }}"
type: Opaque
data:
  odoo-admin-passwd: "{{ _odoo_admin_passwd }}"
  odoo-admin-user-password: "{{ _odoo_admin_user_password }}"
  odoo-smtp-password: "{{ _odoo_smtp_password }}"
