apiVersion: v1
kind: Secret
metadata:
  name: "{{ _odoo_name }}"
  labels:
    app: "{{ _odoo_name }}"
type: Opaque
data:
  odoo-admin-passwd: {{ randAlphaNum 16 | b64enc | quote }}
  odoo-admin-user-password: {{ randAlphaNum 16 | b64enc | quote }}
  odoo-smtp-password: {{ randAlphaNum 16 | b64enc | quote }}
